/*!
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 *
 */

$theme-color: #58A6FF;

@import url('https://fonts.loli.net/css2?family=Rajdhani:wght@500');

$font-family: "'Rajdhani', sans-serif;";
$font-family-fancy: "'Rajdhani', sans-serif;";
